html{
  font-family: serif;
  text-align: center;
}

body{
margin:0;
}
   
header{
  max-width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  padding:7px;
  font-size:10px;
  margin-bottom: 50px; 
}

h1{
  float:left;
}
li a{
  color:white;
  font-size:12px;
}

li{
  float:right;
  margin-right:15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden; 
}

h2{
line-height: 0;
font-size: 32px;
}

h3{
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;   
  margin-bottom: 55px;
}


#image{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 5px;
}


#description{
  font-size: 16px;
  
}

.poems{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
background:#eee;
margin-bottom:35px;
}

#poem h3{
  text-align: center;
  margin-bottom:10px;
}


#poem p{
  margin-bottom:13px;
  font-style: italic;
   }

#tribute-link {
  padding: 15px;
  margin:5px;
  font-size: 2em;
  text-align: center;
  
}

a{
  text-decoration:none;
  color: black;
}

input{
border-radius:10px;
}

input:first-of-type{
  width:100px;
}

a:hover{
  text-decoration: underline;
}

footer{
background:#000;
position:absolute;
width:100%;
color:#fff;
margin-top: 30px;
}